.card {
  $root: &;
  height: 30rem;
  position: relative;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__img {
    object-fit: cover;
    #{$root}:hover & {
      filter: blur(0.5rem);
      opacity:0.6;
    }
  }

  &__overlay {
    display:flex;
    flex-direction: column;
    
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    visibility: hidden;
    opacity: 0;
    
    /* transition effect. not necessary */
    transition: opacity 0.3s, visibility 0.3s;

    #{$root}:hover & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__title{
      text-align: center;
      color:black;
      font-size: 3rem;
  }

  &__button{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    width:8rem;
    padding:1rem;
    background-color: red;
  }
}
